<!DOCTYPE html>
<html ng-app="HotWater">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>{{ title }}</title>

        <!-- jQuery and jQuery Mobile -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
        <!-- angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- app -->
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h1>{{ title }}</h1>
            </div>
            <div data-role="content">
                <div ng-controller="ThermostatsController">
                    <div data-role="fieldcontain" ng-repeat="thermostat in thermostats">
                        <label for="thermostat{[$index+1]}">
                            {[thermostat.sensor]}
                        </label>
                        <input name="thermostat{[$index+1]}" id="thermostat{[$index+1]}" value="{[thermostat.value]}" type="text" readonly/>
                    </div>
                </div>
            </div>
            <div data-role="content" data-theme="b">
                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
                        <legend>Gable Control</legend>
                        <input type="radio" name="gableSolarPumpOverride" id="gableSolarPumpOverride-Auto" value="Auto" onchange="app.overrideSwitch(this);"/>
                        <label for="gableSolarPumpOverride-Auto">Auto</label>
                        <input type="radio" name="gableSolarPumpOverride" id="gableSolarPumpOverride-On" value="On" onchange="app.overrideSwitch(this);"/>
                        <label for="gableSolarPumpOverride-On">On</label>
                        <input type="radio" name="gableSolarPumpOverride" id="gableSolarPumpOverride-Off" value="Off" onchange="app.overrideSwitch(this);"/>
                        <label for="gableSolarPumpOverride-Off">Off</label>
                    </fieldset>
                </div>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed"/>
                <h3>Server Time: {{ time }}</h3>
            </div>
        </div>
    </body>
</html>